In [185]:


9==9 and 2<6

True

In [186]:
7>10 or 1==1

True

In [187]:
x=10
y=5
x=x+y
y=x-y
x=x-y
print("After swapping: x=%d y=%d"%(x,y))

After swapping: x=5 y=10

In [188]:
a,b,c = 5, 3.2, "Hello"
print(a)
print(b)
print(c)

5
3.2
Hello

In [189]:
website = "apple.com"
print(website)

apple.com

In [190]:
w1 = "Welcome to python"
print(w1)
w1 = "Sun Shines"
print(w1)

Welcome to python
Sun Shines

In [191]:
x=y=z="Peacock"
print(x)
print(y)
print(z)

Peacock
Peacock
Peacock

In [192]:
len("greenparrot")

11

In [193]:
st1[:3]

'pty'

In [194]:
st5 = "wait wait wait until you succeed"
st5.replace("wait", "work")

'work work work until you succeed'

In [195]:
"python".upper()

'PYTHON'

In [196]:
"PYTHON".lower()

'python'

In [197]:
import pandas as pd
s1 = pd.series()
print(s1)

ModuleNotFoundError: No module named 'pandas'

In [ ]:
import pandas as pd
import numpy as np
dt = np.array(['q','1', 't', 'k'])
ser2 = pd.Series(dt)
print(ser2)

In [ ]:
import pandas as pd
import numpy as np
arr = np.array['a','b','c','d']
sr2 = pd.Series(arr,index=[10,11,12,13])
print(sr2)

In [ ]:
s6 = "rising sun"
s6.find("ing")

3

In [ ]:
st1 ="ptyruit"
st1[1:4]

'tyr'

In [ ]:
st1[2:]

'yruit'